.job-card {
  background-color: #E2DAD6; /* Accent color for the job card background */
  border: 1px solid #E2DAD6; /* Accent color for card border */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 16px; /* Adjusted margin to maintain spacing */
  width: 300px;
  box-sizing: border-box;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.job-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.job-card-body {
  padding: 8px 0;
}

.job-card-body h3 {
  font-size: 1.4rem; /* Dark blue color for job title */
  color: #2b3a67;
  margin: 0 0 8px 0; /* Margin added for spacing */
}

.job-card-body p {
  font-size: 1rem;
  color: #2b3a67; /* Dark blue color for job details */
  margin: 4px 0;
}

.job-card-footer {
  text-align: right;
}

.job-card-link {
  text-decoration: none;
  color: #2b3a67;
  font-weight: bold;
}

.job-card-link:hover {
  text-decoration: underline;
}
