/* Navbar.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #003366; /* Dark blue background */
    padding: 10px 20px;
    color: white;
  }
  
  .navbar-logo img {
    height: 40px;
  }
  
  .navbar-links a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
  }
  
  .navbar-links a:hover {
    text-decoration: underline;
  }
  
  .navbar-profile {
    display: flex;
    align-items: center;
  }
  
  .profile-initials {
    width: 35px;
    height: 35px;
    border:none !important;
    border-radius: 50%;
    background-color: #00509e; /* Lighter blue background for initials */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-right: 10px;
  }
  
  .logout-button {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .logout-button:hover {
    background-color: white;
    color: #003366; /* Dark blue text on hover */
  }
  
  .navbar-search {
    display: flex;
    align-items: center;
  }
  
  .navbar-search input[type="text"] {
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .search-button {
    background-color: #00509e; /* Lighter blue background for button */
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .search-button:hover {
    background-color: #003366; /* Darker blue background on hover */
  }
  
  .fa-search {
    margin-right: 5px;
  }
  